header
 .r
  .c5
    img(src=siteurl + "img/site-logo-blue.png" alt="Financial-Legal Literacy for Europe")
  .c5
   img.right(src=siteurl + "img/cofunded-logo.jpg" width="400px" alt="Financial-Legal Literacy for Europe")
   a#lt(href=siteurl + "lt/") LT 
   a#it(href=siteurl + "it/") IT 
   a#fr(href=siteurl + "fr/") FR 
   a#bg(href=siteurl + "bg/") BG 
   a#en(href=siteurl + "/") EN 