section
 .r
  .c5
   nav
    a(href=siteurl + "it/#about-the-project") Informazioni sul progetto
    a(href=siteurl + "it/#project-partners") Partner del progetto
    a(href=siteurl + "it/#key-project-activities") Attività del progetto
  .c5.text-right
   h1.balta#about-the-project Sul progetto

 .r.bg.ff
  .c4
   h2 I cittadini dell'UE soffrono del loro basso livello di alfabetizzazione finanziaria e giuridica che incide profondamente sia sul benessere individuale che sull'economia degli Stati membri e dell'UE nel suo insieme.
  .c6
   .goals
    p L'UE perde notevoli opportunità finanziarie e di investimento a causa della scarsa alfabetizzazione finanziaria e giuridica dei suoi cittadini. Le differenze nell'alfabetizzazione finanziaria e giuridica variano ampiamente nei diversi paesi dell'UE e contribuiscono alla frammentazione e alle disparità economiche tra gli Stati membri.
    p La scarsa alfabetizzazione finanziaria e giuridica dei cittadini dell'UE li rende più vulnerabili alle fluttuazioni dell'economia e alle situazioni di crisi, il che incide anche sulla capacità dell'UE di superare tali perturbazioni economiche. Ciò è particolarmente vero per quanto riguarda l'attuale crisi innescata dalla pandemia di COVID-19. Le divergenze fondamentali dell'alfabetizzazione finanziaria e giuridica nei diversi paesi dell'UE dimostrano che esiste un'esigenza fondamentale di innalzare le barriere e garantire l'accesso per tutti i cittadini dell'UE alle migliori pratiche europee di educazione finanziaria e giuridica.

 
 .r
  .c4
   h2 Tenendo conto del suddetto contesto, il progetto Financial-Legal Literacy for Europe (FIN-LEG-LIT) si propone i seguenti <strong>obiettivi</strong>:   
  .c6
   .goals
    strong Sviluppo di un manuale ("Manuale di alfabetizzazione finanziaria-giuridica per l'Europa") di educazione finanziaria-legale per formatori e studenti adulti </strong> basato sulle migliori pratiche europee in materia e che rifletta gli obiettivi dell'UE relativi alla finanza verde e all'Unione del mercato dei capitali. Il manuale e lo strumento di e-learning online si rivolgeranno in particolare agli adulti a basso reddito e/o scarsamente qualificati e/o scarsamente qualificati in paesi e regioni con diversi livelli di sviluppo economico. Il manuale sarà universalmente applicabile in tutta l'UE e potrebbe essere utilizzato da persone con diversi livelli di alfabetizzazione finanziaria e giuridica.
    .hline
    strong Lancio e mantenimento di uno strumento di e-learning online </strong> per l'alfabetizzazione finanziaria-legale che potrebbe essere utilizzato ovunque e in qualsiasi ambiente per corsi di educazione finanziaria-legale o apprendimento individuale 
    .hline
    strong Formazione dei formatori di alfabetizzazione finanziaria-legale </strong> per fornire educazione finanziaria-legale agli studenti adulti utilizzando il manuale e lo strumento di e-learning online 
    .hline
    strong Fornire formazione in materia di alfabetizzazione finanziaria-legale </strong> a studenti adulti a basso reddito e/o scarsamente qualificati e/o scarsamente qualificati.

 //- Partner organizations sekcija
  //-  .r.bg.fr
  //-   .c0
  //-    h2 Five partner organizations participate in the project
  //-    p The participating partners cover the spectrum of competences, needed to the successful implementation of the project.
  
  //-   .c2.line
  //-    h3 EURL Aristote
  //-    p EURL Aristote (a private company, Paris, France), which has a profound experience in the management of EU projects and activities of education of adults
  //-   .c2.line
  //-    h3 VsI Finansu teises institutas
  //-    p VsI Finansu teises institutas (a non-for profit organization, Lithuania), which is a scientific research institution, focusing on the financial law and the promotion of the financial and legal literacy and having a profound experience in education of adults
  //-   .c2.line
  //-    h3 Organisation for Empowerment and Nonformal education
  //-    p Organisation for Empowerment and Nonformal education (an association, Le Moule, Guadeloupe, France), which has a profound experience in working with the community and in particular, with its members in disadvantageous economic and/or social situations
  //-   .c2.line
  //-    h3 European Multicultural Association
  //-    p European Multicultural Association (non-profit organisation, Bulgaria), working mainly in main field of social inclusion and informal education for youth and having a well-established experience in the field of adult education in an economically disadvantaged environment
  //-   .c2
  //-    h3 Euroform RFS
  //-    p Euroform RFS (non-governmental organization, Italy) specialized in training and career guidance, with particular focus on ICT, and having an in depth experience in adult learning and development of e-learning tools
 
 .r.bg.ff 
  .c4
   h2 Per realizzare le suddette attività tutti i <strong>partner del progetto contribuiscono </strong> con le rispettive conoscenze e competenze.
  .c6
   .goals
    p Svolgeranno le attività di ricerca, necessarie per creare il Manuale, sulla base delle migliori pratiche di formazione e apprendimento dell'alfabetizzazione finanziaria e giuridica europea. Creeranno uno strumento di e-learning, sulla base dei risultati della suddetta ricerca e del feedback degli studenti adulti. I partecipanti al progetto implementeranno workshop sia per i formatori che per gli studenti dell'alfabetizzazione finanziaria-legale e assicureranno la diffusione dei risultati del progetto.
    p Come risultato del progetto, i formatori partecipanti potranno utilizzare il Manuale e lo Strumento di e-learning online nella formazione di alfabetizzazione finanziaria-giuridica agli adulti, con un focus particolare sui discenti socialmente ed economicamente svantaggiati. Gli studenti adulti che partecipano direttamente al progetto miglioreranno le loro capacità di alfabetizzazione finanziaria e giuridica. Gli strumenti creati saranno disponibili gratuitamente per tutti gli europei tramite il sito Web del progetto e altri siti Web partner e media Internet. Il progetto contribuirà fortemente allo sviluppo complessivo dell'approccio europeo integrato all'educazione finanziaria e giuridica dei suoi cittadini.

 //- Project partner sekcija
 .r
  .c5
  .c5.text-right
   h1.balta#project-partners Partner di progetto
 .r
  .c3.line
   h2.up Coordinatore del progetto
   ul
    li
     img.img(src=siteurl + "img/aristote1-logo.png" alt="Eurl Aristote logo")
    li 
     strong Eurl Aristote
    li 60 rue Pouchet, 75017 Paris, France
    li.phone 
     a(href="tel:+33625676084") +33 6 25 67 60 84
    li.email
     a(href="mailto:aristrad@gmail.com") aristrad@gmail.com
    li.www 
     a(href="http://www.aristculture.eu" target="_blank") www.aristculture.eu

  .c3.line
   h2.up Partner
   ul
    li 
     img.img(src=siteurl + "img/euroform-logo.png" alt="RFS EUROFORM logo")
    li 
     strong RFS EUROFORM
    li P.zza della Libertà, 40, 87036 Rende (CS) – Italy
    li.phone 
     a(href="tel:+390984467735") +39 0984 467735
    li.email 
     a(href="mailto:info@euroformrfs.it") info@euroformrfs.it
    li.www 
     a(href="http://www.euroformrfs.it/en/home-en/" target="_blank") www.euroformrfs.it/en/home-en/

   .social
    a(href="https://www.facebook.com/euroformrfsrende" target="_blank") 
     include facebook.svg
    a(href="https://www.linkedin.com/company/euroform-rfs" target="_blank") 
     include linkedin.svg
    a(href="https://twitter.com/EuroformRFS" target="_blank")
     include twitter.svg
    a(href="https://www.instagram.com/euroformrfs/?hl=en" target="_blank")
     include instagram.svg
    a(href="https://www.youtube.com/channel/UCRXD39e-mIWCRyLNO1rw6cQ" target="_blank")
     include youtube.svg

  .c3
   h2.up Partner
   ul
    li 
     img.img(src=siteurl + "img/empowerment-logo.png" alt="Organisation for Empowerment and Non-formal education logo")
    li 
     strong OENE (Organisation for Empowerment and Non-formal education)
    li Aurélie SAINT-PRIX, Présidente, 4 chemin du vieux tamarin, 97160 Le Moule
    li.phone
     a(href="tel:+590690278363") +590 690278363
    li.email 
     a(href="mailto:oene.office@gmail.com") oene.office@gmail.com
   .social
    a(href="https://www.facebook.com/oenehive" target="_blank") 
     include facebook.svg
    
 .r
  .c3.line
   h2.up Partner
   ul
    li 
     img.img(src=siteurl + "img/fti-logo.png" alt="VšĮ Finansų teisės institutas logo")
    li 
     strong VšĮ Finansų teisės institutas
    li Maironio g. 18-2, 44298 Kaunas, Lithuania
    li.phone 
     a(href="tel:+37067776920") +370 6 7776920
    li.email 
     a(href="mailto:info@finlaw.lt") info@finlaw.lt
    li.www 
     a(href="http://www.finlaw.lt" target="_blank") www.finlaw.lt
   
   .social
    a(href="https://www.linkedin.com/company/finansu-teises-institutas" target="_blank") 
     include linkedin.svg 

  .c3
   h2.up Partner
   ul
    li 
     img.img(src=siteurl + "img/ema-logo.jpg" alt="European Multicultural Association logo")
    li 
     strong European Multicultural Association
    li 8805 Sliven, Bulgaria, "Todor Assenov" str , bl. 2. ap. 6
    li.phone  
     a(href="tel:+359895373479") +359 895373479
    li.email 
     a(href="mailto:euma@abv.bg") euma@abv.bg
    li.www 
     a(href="https://www.ema20.com/" target="_blank") www.ema20.com
     

 include timeline-it.pug