section
 .r
  .c5
   nav
    a(href=siteurl + "it/#about-the-project") Informazioni sul progetto
    a(href=siteurl + "it/#project-partners") Partner
    a(href=siteurl + "it/#key-project-activities") Attività
  .c5.text-right
   h1.balta#about-the-project Informazioni sul progetto

 .r.bg.ff
  .c4
   h2 I cittadini dell'UE risentono di un basso livello di alfabetizzazione giuridico-finanziaria che incide profondamente sia sul benessere individuale che sull'economia degli stati membri e dell'UE nel suo complesso.
  .c6
   .goals
    p L'UE si trova a perdere sostanziali opportunità finanziarie e di investimento a causa della bassa alfabetizzazione giuridico-finanziaria dei suoi cittadini. I livelli di alfabetizzazione giuridico-finanziaria variano ampiamente nei diversi paesi dell'UE e contribuiscono alla frammentazione e alle disparità economiche tra gli stati membri.
    p La scarsa alfabetizzazione giuridico-finanziaria dei cittadini dell'UE li rende più vulnerabili alle variazioni dell'economia e alle situazioni di crisi, il che influisce anche sulla capacità dell'UE di superare tali squilibri economici. Tale aspetto risulta particolarmente evidente nell'attuale crisi innescata dalla pandemia COVID-19. Le fondamentali divergenze nei livelli di alfabetizzazione giuridico-finanziaria nei diversi paesi dell'UE dimostrano che esiste il bisogno di eliminare le barriere e garantire l'accesso di tutti i cittadini dell'UE alle best practices europee di educazione giuridico-finanziaria.
 
 .r
  .c4
   h2 Tenendo conto del suddetto contesto, il progetto Financial-Legal Literacy for Europe (FIN-LEG-LIT) si propone i seguenti <strong>obiettivi</strong>:   
  .c6
   .goals
    strong Sviluppo di un manuale ("Manuale di alfabetizzazione giuridico-finanziaria per l'Europa") di educazione giuridico-finanziaria per formatori e discenti adulti </strong> basato sulle best practices europee in materia e che rifletta gli obiettivi dell'UE relativi alla finanza sostenibile e all'Unione del mercato dei capitali. Il manuale e lo strumento di e-learning online si rivolgeranno in particolare ad un target composto da adulti a basso reddito e/o scarsamente specializzati e/o scarsamente qualificati in paesi e regioni con diversi livelli di sviluppo economico. Il manuale sarà universalmente applicabile in tutta l'UE e potrà essere utilizzato da persone con diversi livelli di alfabetizzazione giuridico-finanziaria.
    .hline
    strong Creazione e mantenimento di uno strumento di e-learning online </strong> per l'alfabetizzazione giuridico-finanziaria che potrà essere utilizzato da remoto e in diversi ambienti, con corsi di educazione giuridico-finanziaria e apprendimento individuale. 
    .hline
    strong Formazione dei formatori in materia di alfabetizzazione giuridico-finanziaria </strong> per fornire competenze finanziario-giuridiche a discenti adulti utilizzando il manuale e lo strumento di e-learning online
    .hline
    strong Erogazione di percorsi formativi in materia di alfabetizzazione giuridico-finanziaria </strong> a discenti adulti a basso reddito e/o scarsamente specializzati e/o scarsamente qualificati.

 .r.bg.ff 
  .c4
   h2 Per realizzare le suddette attività tutti i <strong>partner del progetto danno il loro contributo</strong> con il loro rispettivo know-how e le loro competenze.
  .c6
   .goals
    p I partner svolgeranno le attività di ricerca, necessarie per creare il Manuale, sulla base delle best practices europee di formazione e apprendimento nell’area dell'alfabetizzazione giuridico-finanziaria. Creeranno uno strumento di e-learning, sulla base dei risultati della suddetta ricerca e del feedback dei discenti adulti coinvolti. I partner del progetto implementeranno workshop sia per i formatori che per i destinatari dei percorsi di alfabetizzazione giuridico-finanziaria e assicureranno la disseminazione dei risultati del progetto.
    p Come risultato, i formatori coinvolti saranno in grado di utilizzare il manuale e lo strumento di e-learning online nei percorsi di formazione di alfabetizzazione giuridico-finanziaria per gli adulti, con particolare attenzione ai discenti socialmente ed economicamente svantaggiati. I discenti adulti coinvolti direttamente nel progetto miglioreranno le loro competenze in materia finanziaria e giuridica. Gli strumenti creati saranno disponibili gratuitamente per tutti i cittadini europei tramite il sito web del progetto, i siti web dei partner e altri siti online. Il progetto contribuirà fortemente allo sviluppo generale della strategia europea integrata verso l'educazione finanziaria e giuridica dei suoi cittadini.

 //- Project partner sekcija
 .r
  .c5
  .c5.text-right
   h1.balta#project-partners Partner di progetto
 .r
  .c3.line
   h2.up Coordinatore del progetto
   ul
    li
     img.img(src=siteurl + "img/aristote1-logo.png" alt="Eurl Aristote logo")
    li 
     strong Eurl Aristote
    li 60 rue Pouchet, 75017 Paris, France
    li.phone 
     a(href="tel:+33625676084") +33 6 25 67 60 84
    li.email
     a(href="mailto:aristrad@gmail.com") aristrad@gmail.com
    li.www 
     a(href="http://www.aristculture.eu" target="_blank") www.aristculture.eu

  .c3.line
   h2.up Partner
   ul
    li 
     img.img(src=siteurl + "img/euroform-logo.png" alt="RFS EUROFORM logo")
    li 
     strong RFS EUROFORM
    li P.zza della Libertà, 40, 87036 Rende (CS) – Italy
    li.phone 
     a(href="tel:+390984467735") +39 0984 467735
    li.email 
     a(href="mailto:info@euroformrfs.it") info@euroformrfs.it
    li.www 
     a(href="http://www.euroformrfs.it/en/home-en/" target="_blank") www.euroformrfs.it/en/home-en/

   .social
    a(href="https://www.facebook.com/euroformrfsrende" target="_blank") 
     include facebook.svg
    a(href="https://www.linkedin.com/company/euroform-rfs" target="_blank") 
     include linkedin.svg
    a(href="https://twitter.com/EuroformRFS" target="_blank")
     include twitter.svg
    a(href="https://www.instagram.com/euroformrfs/?hl=en" target="_blank")
     include instagram.svg
    a(href="https://www.youtube.com/channel/UCRXD39e-mIWCRyLNO1rw6cQ" target="_blank")
     include youtube.svg

  .c3
   h2.up Partner
   ul
    li 
     img.img(src=siteurl + "img/empowerment-logo.png" alt="Organisation for Empowerment and Non-formal education logo")
    li 
     strong OENE (Organisation for Empowerment and Non-formal education)
    li Aurélie SAINT-PRIX, Présidente, 4 chemin du vieux tamarin, 97160 Le Moule
    li.phone
     a(href="tel:+590690278363") +590 690278363
    li.email 
     a(href="mailto:oene.office@gmail.com") oene.office@gmail.com
   .social
    a(href="https://www.facebook.com/oenehive" target="_blank") 
     include facebook.svg
    
 .r
  .c3.line
   h2.up Partner
   ul
    li 
     img.img(src=siteurl + "img/fti-logo.png" alt="VšĮ Finansų teisės institutas logo")
    li 
     strong VšĮ Finansų teisės institutas
    li Maironio g. 18-2, 44298 Kaunas, Lithuania
    li.phone 
     a(href="tel:+37067776920") +370 6 7776920
    li.email 
     a(href="mailto:info@finlaw.lt") info@finlaw.lt
    li.www 
     a(href="http://www.finlaw.lt" target="_blank") www.finlaw.lt
   
   .social
    a(href="https://www.linkedin.com/company/finansu-teises-institutas" target="_blank") 
     include linkedin.svg 

  .c3
   h2.up Partner
   ul
    li 
     img.img(src=siteurl + "img/ema-logo.jpg" alt="European Multicultural Association logo")
    li 
     strong European Multicultural Association
    li 8805 Sliven, Bulgaria, "Todor Assenov" str , bl. 2. ap. 6
    li.phone  
     a(href="tel:+359895373479") +359 895373479
    li.email 
     a(href="mailto:euma@abv.bg") euma@abv.bg
    li.www 
     a(href="https://www.ema20.com/" target="_blank") www.ema20.com
     

 include timeline-it.pug